/* body {
  background-color: #202124;
} */

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.navbar {
  display: flex;
  width: 100%;
}

.leftNav {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

.rightNav {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
